# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
my_env/

# Build artifacts
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# Editor files
.idea/
.DS_Store
Thumbs.db

# Others
*.mp4
